<div >
  <div id="map"></div>
</div>

<hr>
<%= render partial: "available_rides", locals: {available_rides: @available_rides, user: @user} %>

<script type="text/javascript">
    $(document).ready(function(){
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
          markers = handler.addMarkers(<%=raw @hash.to_json %>);
          
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
        
    });
</script>