
<div class="row">
  <div class="col-sm-11 col-sm-offset-1">
    
    <div class="col-sm-3 panel panel-default killpad">
      <a href="#" id="create_company_link" class="btn btn-info btn-me btn-lg" >Create Company</a>
    </div>

    <div class="col-sm-7 col-sm-offset-1 killpad">
      <div class="form-group">
        <input class="form-control input-lg text-center" id="comp_filter" type="text" value="Search Companies">
      </div>
    </div>

  </div>  
</div>

<hr><div class="clearfix"></div>

<!-- <div class="row">
  <div class="col-sm-12">
    <h2 class="text-center">Companies</h2>
  </div>
</div>

<br><div class="clearfix"></div>
 -->
<div class="company_list">
  <% Company.all.each_slice(3) do |comps| %>
    <div class="row">
      <div class="col-sm-11 col-sm-offset-1">
        <% comps.each_with_index do |comp, index| %>
          <% if index == 0 %>
            <div class="col-sm-3 panel panel-default">
          <% else %>
            <div class="col-sm-3 col-sm-offset-1 panel panel-default">
          <% end -%>
            <!-- <div class="panel-heading"></div> -->
            <div class="panel-body text-center">
              <%= link_to comp.name.upcase, company_path(comp) %>
            </div>
          </div>

        <% end -%>
      </div>
    
    </div>

  <% end -%>
</div>

<%= render partial: "companies/new" %> 